<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Course3</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <a class="navbar-brand" href="/">Home</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                  <ul class="navbar-nav">
                    <li class="nav-item active">
                      <a class="nav-link" href="courses"><span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="course1">Course 1</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="course2">Course 2</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="course3">Course3</a>
                    </li>
                  </ul>
                </div>
              </nav>
              <div class="row">
                  <div style="margin-left: 25%" class="col-md-6 mt-4 text-center">
                    <table class="table table-striped">
                      <tr>
                        
                          <th>Matricula</th>
                          <th>Nombre</th>
                          <th>curso3</th>
                          
                        
                      </tr>
  
                      <% for(var i=0;i<alumnos.length;i++){ %>
  
                        <tr>
                          <td><%= alumnos[i].MATRICULA %></td>
                          <td><%= alumnos[i].NOMBRE1 %></td>
                          <td><%= alumnos[i].CURSO3 %></td>
                          
  
                        </tr>
  
                        <% } %>
  
                    </table>
                  </div>
                </div>
</body>
</html>