<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sing Up</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <a class="navbar-brand" href="/">Home</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                  <ul class="navbar-nav">
                    <li class="nav-item active">
                      <a class="nav-link" href="courses"><span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="course1">Course 1</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="course2">Course 2</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="course3">Course3</a>
                    </li>
                  </ul>
                </div>
              </nav>

        <form action="/" method="">
          <div class="form-group">
              <input name="MATRICULA" type="number" class="form-control" placeholder="MATRICULA">
            </div>
            <div class="form-group">
              <input name="CURSO" type="number" class="form-control" placeholder="1,2,3">
            </div>
           <button class="btn btn-dark"><a href="/" style="color: white">Sing Up</a></button>
        </form>
</body>
</html>